.box {
  background: #f9f5f6;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
  font-size: 40px;
}
h3 {
  text-align: center;
}
.celcius {
  height: 60px;
  width: 60px;
}
img {
  height: 45px;
  width: 40px;
}
.feels {
  position: relative;
  left: 390px;
  top: -30px;
}
.wind {
  position: relative;
  left: 60px;
  top: -40px;
}
.humid {
  position: relative;
  left: 40px;
  top: -40px;
}
.vis {
  position: relative;
  left: 10px;
  top: -40px;
}
.search {
  position: relative;
  left: 120px;
  top: -30px;
}
.submit {
  position: relative;
  left: 430px;
  top: -68px;
}
.sunday {
  position: relative;
  left: 280px;
  top: -50px;
}
.wednesday {
  position: relative;
  left: 280px;
  top: -30px;
}
.saturday {
  position: relative;
  left: 180px;
  top: -50px;
}
.friday {
  position: relative;
  left: 90px;
  top: -50px;
}
.monday {
  position: relative;
  left: 90px;
  top: -30px;
}
.tuesday {
  position: relative;
  left: 180px;
  top: -30px;
}
